<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <i class="fas fa-bicycle logo"></i>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Louer mon vélo', new_bike_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Louer mon vélo</a> -->
    <%= link_to 'Mes réservations', bookings_path, class: 'navbar-wagon-item navbar-wagon-link' %>

    <!-- Profile picture with dropdown list -->
    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= cl_image_tag(current_user.photo, gravity: :face, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown")%>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Mon profil", edit_user_registration_path  %></li>
            <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete%></li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>
