<div class="show-content">
  <div class="left-side">
    <div class="suggestion">
    </div>
    <div class="cards">
      <% @bikes.each do |bike|  %>
        <div class="card-bike">
          <%= cl_image_tag(bike.photo, class: "card-image")%>
          <div class="card-bike-infos">
            <h2 class="card-title"><%= bike.name %></h2>
            <p class="card-text">Vélo de <%= bike.category %></p>
            <h5 class="card-bike-price"><%= bike.price %>€/day</h5>
          </div>
          <%= link_to "Ride", bike_path(@search_params.merge(id: bike.id)), class: "btn btn-primary btn-bike" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="right-side-map" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_url("front-page-picture.jpg")%>);">
  </div>
</div>


  <!--   <div class="criterias">
      <ul>
        <li><i class="fas fa-football-helmet"></i></li>
        <li><i class="fas fa-brackets"></i></li>
        <li><div class="dropdown"><i class="fas fa-bicycle logo"></i></div></li>
      </ul>
    </div> -->
