<div class="container">
  <div class="details">
    <div class="images">

    </div>
  </div>
  <div class="recap">
    <div class="price text-center">
      <p><strong><%= @bike.price %>€ par jour</strong></p>
    </div>
    <div class="dates">
      <p><%= params[:start_date] %></p>
      <i class="fas fa-arrow-right"></i>
      <p><%= params[:end_date] %></p>
    </div>
    <div class="helmet recap-footer">
      <p class="accessories">Casque</p>
      <p><%= @bike.helmet ? "Oui" : "Non" %></p>
    </div>
    <div class="rack recap-footer">
      <p class="accessories">Porte-bagage</p>
      <p><%= @bike.rack ? "Oui" : "Non" %></p>
    </div>
    <div class="locket recap-footer">
      <p class="accessories">Antivol</p>
      <p><%= @bike.locker ? "Oui" : "Non" %></p>
    </div>
    <div class="category recap-footer">
      <p class="accessories">Catégorie</p>
      <p><%= @bike.category%></p>
    </div>
    <div class="calcul-prix recap-footer">
      <p><%= (((Date.parse params[:end_date]) - (Date.parse params[:start_date])).to_i + 1) %> jours x <%= @bike.price %>€</p>
      <p><%= (((Date.parse params[:end_date]) - (Date.parse params[:start_date])).to_i + 1) * @bike.price %>€</p>
    </div>
    <div class="total recap-footer">
      <p><strong>Total</strong></p>
      <p><strong><%= ((Date.parse params[:end_date]) - (Date.parse params[:start_date])).to_i * @bike.price %>€</strong></p>
    </div>
    <div class="btn-booking text-center">
      <% if policy(@bike).destroy? %>
        <%= link_to bike_path(@bike), method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="far fa-trash-alt" style="color: rgb(0,0,0)"></i>
        <% end %>
      <% else %>
        <%= link_to "Book Now", bike_bookings_path(@bike), class: "btn btn-primary"%>
      <% end %>
      <% if policy(@bike).edit? %>
        <%= link_to " / Modifier mon offre", edit_bike_path(@bike)%>
      <% end %>
    </div>
  </div>
</div>
